<h1><%= @task.title %></h1>
<p><%= @task.details %></p>

<% if @task.completed %>
  <p><%= check_box("tag", tag.id, {checked: @task.completed }) %>This task is completed!</p>
<% else %>
  <p><%= check_box("tag", tag.id, {checked: @task.completed }) %>This task is not completed yet ...</p>
<% end %>

<%= link_to "Edit task", task_edit_path(@task) %>

<%= link_to "Back to tasks", tasks_path %>
